.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.one 
{
  padding: 0%;
  padding-top: 20px;
  margin-left:10px;
  color: aqua;
  background-color:black;
  height:970px;
  width: 400px;
}
.two
{
  padding:20px;
  margin-left:0px;
  background-color: bisque;
  width:2500px;


}
.three
{
  text-align: left;
}
.img
{
  position: absolute;
  top: 8px;
  left: 260px;
  font-size: 18px;
}
